body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #000;
  font-family: "Arial", sans-serif;
  color: aliceblue;
}

h1 {
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
}

p {
  font-size: 1.5em;
  margin: 20px 0;
}

.search-container {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #444;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

.alert {
  color: #f44336;
  background-color: #fdecea;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  width: 300px;
  display: none;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
